html{
    font-size: 1em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body{
    background-image: url("../img/fruits.jpg");
    background-size: cover;
    color:#FFF1F1;
    font-family: 'Poppins', sans-serif;
}


.deep-box{
    position: absolute;
    top: 1pt;
    left: 50%;
    transform: translate(-50%, 0%);
}
.deep-text{
    display: inline-block;
    font-weight: 300;
    margin-left: 8px;
}

.deep-logo{
    display: inline-block;
    height: 20px;
    position: relative;
    top: 4px;
}

.canvas{
    height: 90vh;
    background-image: url("../img/transparent-background.png");
    background-size: cover;
    border-radius: 36px;
    margin: 5vh;
    padding: 4%;
}

.main-text{
    width: 40%;
    float: left;
}

.main-image{
    width: 40%;
    float: right;
}

.image-display{
    width: 100%;
}

.heading-text{
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 800;
}
.body-text{
    font-size: 1rem;
    line-height: .30rem;
    font-weight: 300;
    color: lightgray;
}
.body-text-highlight{
    font-size: 1rem;
    line-height: .30rem;
    font-weight: 300;
    color: white;
    font-weight: bold;
}

.form-div{
    margin-top: 40px;
    height: 40px;
}

input[type="file"]{
    float: left;
    cursor: pointer;
}

input[type="submit"]{
    width: 40%;
    float: right;
    height: 40px;
    border-radius: 50px;
    border-color: #012964;
    border: 3px solid #012964;
    background-color: #0066ff;
    font-size: 1.4rem;
    color: #FFF1F1;
    cursor: pointer;
}



@media screen and (max-width: 780px){
    .canvas{
        width: 90%;
        height: auto;
    }
    .main-text{
        width: 80%;
        float: none;
        margin: 0 10%;
        justify-content: center;
    }
    .main-image{
        width: 80%;
        float:none;
        margin: 0 10%;
    }

    .canvas::after {
        content: "";
        clear: both;
        display: table;
      }
}

@media screen and (max-width: 480px){

    .canvas{
        width: 100%;
    }
    .main-text{
        width: 80%;
        float: none;
        margin: 0 10%;
        justify-content: center;
    }
    .heading-text{
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 800;
    }
    .body-text{
        font-size: 1rem;
        line-height: .30rem;
        font-weight: 300;
    }
    .main-image{
        width: 80%;
        float:none;
        margin: 0 10%;
    }

    .canvas::after {
        content: "";
        clear: both;
        display: table;
      }
}